.proj-container {
  min-height: 350px;
  height: 100%;
  padding: 5%;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
}

.proj-content {
  width: 100%;
}

.proj-content-root {
  margin-top: 3% !important;
  height: 80%;
  width: 100% !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.proj-text-root {
  display: flex;
  align-items: center;
}

.proj-header {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-weight: 300 !important;
}

.proj-text {
  font-weight: 300 !important;
  margin-top: 2% !important;
  animation: ease-in 0.3s fadein forwards;
}

@media only screen and (max-width: 1440px) {
  .proj-container {
    height: 450px;
  }

  .proj-back-tint {
    height: 450px;
  }
}

@media only screen and (max-width: 1024px) {
  .proj-container {
    height: 600px;
  }

  .proj-back-tint {
    height: 600px;
  }
}

@media only screen and (max-width: 960px) {
  .proj-container {
    height: 650px;
  }

  .proj-back-tint {
    height: 650px;
  }
}

@media only screen and (max-width: 768px) {
  .proj-container {
    height: 700px;
  }

  .proj-back-tint {
    height: 700px;
  }
}

@media only screen and (max-width: 510px) {
  .proj-container {
    height: 850px;
  }

  .proj-back-tint {
    height: 850px;
  }
}

@media only screen and (max-width: 450px) {
  .proj-container {
    height: 1100px;
  }

  .proj-text-root {
    margin-bottom: 10% !important;
  }

  .proj-back-tint {
    height: 950px;
  }
}
