.projContainer {
  min-height: 350px;
  height: 100%;
  padding: 5%;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
}

.projContent {
  width: 100%;
}

.projContentRoot {
  margin-top: 3% !important;
  height: 80%;
  width: 100% !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.projTextRoot {
  display: flex;
  align-items: center;
}

.projHeader {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-weight: 300 !important;
}

.projText {
  font-weight: 300 !important;
  margin-top: 2% !important;
  animation: ease-in 0.3s fadein forwards;
}

.floatingImageContainer {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.floatingImage {
  max-width: 90%;
  height: 100%;
}

.carouselHeader {
  font-weight: 300 !important;
  display: flex;
  justify-content: center;
}

.carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: middle;
}

@media only screen and (max-width: 1440px) {
  .projContainer {
    height: 450px;
  }

  .projBackTint {
    height: 450px;
  }
}

@media only screen and (max-width: 1024px) {
  .projContainer {
    height: 600px;
  }

  .projBackTint {
    height: 600px;
  }
}

@media only screen and (max-width: 960px) {
  .projContainer {
    height: 650px;
  }

  .projBackTint {
    height: 650px;
  }
}

@media only screen and (max-width: 768px) {
  .projContainer {
    height: 700px;
  }

  .projBackTint {
    height: 700px;
  }
}

@media only screen and (max-width: 510px) {
  .projContainer {
    height: 850px;
  }

  .projBackTint {
    height: 850px;
  }
}

@media only screen and (max-width: 450px) {
  .projContainer {
    height: 1100px;
  }

  .projTextRoot {
    margin-bottom: 10% !important;
  }

  .projBackTint {
    height: 950px;
  }
}
