.floatingChildContainer {
  width: 90%;
  min-height: 50px;
  padding: 5%;
  height: 100%;
}

.floatingColoredChildContainer {
  width: 90%;
  height: 300px;
  padding: 5%;
}

.root {
  height: 100%;
  background-color: #ffffff;
  cursor: pointer;
}

.rootColored {
  height: 100%;
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 100%);
  cursor: pointer;
}

.rootColored:hover {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 50%, #380036 100%);
}

@media only screen and (max-width: 2560px) {
  .floatingColoredChildContainer {
    height: 275px;
  }
}

@media only screen and (max-width: 1440px) {
  .floatingColoredChildContainer {
    height: 225px;
  }
}

@media only screen and (max-width: 1024px) {
  .floatingColoredChildContainer {
    height: 250px;
  }
}

@media only screen and (max-width: 768px) {
  .floatingColoredChildContainer {
    height: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .floatingColoredChildContainer {
    height: 225px;
  }
}
