.profileImgContainer {
  min-height: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.profileImg {
  border-radius: 10px;
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 2;
}
