.expContainer {
  height: 500px;
  background-image: url("/assets/exp-parallax.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.expBackTint {
  height: 500px;
  height: 100%;
  padding: 5%;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.expContent {
  width: 100%;
}

.expContent-root {
  margin-top: 1% !important;
  height: 70%;
}

.expTextRoot {
  display: flex;
  align-items: center;
}

.carouselContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: middle;
}

.expHeader {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-weight: 300 !important;
}

.expText {
  font-weight: 300 !important;
  margin-top: 2% !important;
}

.floatingImageContainer {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.floatingImage {
  max-width: 90%;
  height: 100%;
}

.carouselHeader {
  font-weight: 300 !important;
  display: flex;
  justify-content: center;
}

.expList {
  list-style-position: inside;
}

@media only screen and (max-width: 1440px) {
  .expContainer {
    height: 550px;
  }

  .expBackTint {
    height: 550px;
  }
}

@media only screen and (max-width: 1024px) {
  .expContainer {
    height: 600px;
  }

  .expBackTint {
    height: 600px;
  }
}

@media only screen and (max-width: 960px) {
  .expContainer {
    height: 650px;
  }

  .expBackTint {
    height: 650px;
  }

  .carouselRoot {
    margin-top: 15% !important;
    margin-bottom: 5% !important;
  }
}

@media only screen and (max-width: 768px) {
  .expContainer {
    height: 700px;
  }

  .expBackTint {
    height: 700px;
  }

  .carouselRoot {
    margin-bottom: 10% !important;
  }
}

@media only screen and (max-width: 510px) {
  .expContainer {
    height: 850px;
  }

  .expBackTint {
    height: 850px;
  }

  .carouselRoot {
    margin-top: 25% !important;
    margin-bottom: 20% !important;
  }
}

@media only screen and (max-width: 510px) {
  .expContainer {
    height: 950px;
  }

  .expBackTint {
    height: 950px;
  }

  .carouselRoot {
    margin-top: 30% !important;
    margin-bottom: 25% !important;
  }
}
