.footerContainer {
  width: 96%;
  padding: 2%;
  background-color: rgba(1, 0, 32, 0.9);
}

.footerLinkContainer {
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footerLink {
  margin: 0% 2%;
}

.footerHeader {
  font-weight: 300 !important;
  margin-bottom: 3% !important;
  text-decoration: underline;
}

.footerText {
  font-weight: 300 !important;
}

.footerTextLink {
  text-decoration: none;
}

.leftSocial {
  display: flex;
  justify-content: flex-end;
}

.centerSocial {
  display: flex;
  justify-content: center;
}

.rightSocial {
  display: flex;
  justify-content: flex-start;
}
