.footer-container {
  width: 96%;
  padding: 2%;
  background-color: rgba(1, 0, 32, 0.9);
}

.footer-link-container {
  margin-top: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-link {
  margin: 0% 2%;
}

.footer-header {
  font-weight: 300 !important;
  margin-bottom: 3% !important;
  text-decoration: underline;
}

.footer-text {
  font-weight: 300 !important;
}

.footer-text-link {
  text-decoration: none;
}

.left-social {
  display: flex;
  justify-content: flex-end;
}

.center-social {
  display: flex;
  justify-content: center;
}

.right-social {
  display: flex;
  justify-content: flex-start;
}
