.logo-container {
  height: 64px;
  display: flex;
  align-items: center;
}

.logo {
  height: 75%;
  margin: 0%;
}

.toolBarRoot {
  box-shadow: none !important;
  background-color: rgba(1, 0, 32, 0.9) !important;
  width: 100vw !important;
  left: 0 !important;
}

.toolBar {
  display: flex;
  justify-content: space-between;
}

.toolBarText {
  font-weight: 300 !important;
  cursor: pointer;
}

.link-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 2%;
}

.navbar-link {
  margin-left: 20%;
}

.drawer-link {
  margin: 0%;
}

.drawer-a-link {
  text-decoration: none;
}

.drawer-root {
  background-color: rgba(1, 0, 32, 0.9) !important;
}

.drawer-divider {
  background-color: #999999 !important;
  margin: 0% 10% !important;
}
