.landingContainer {
  min-height: 700px;
  width: 100%;
  background-color: #010020;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particleContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.particleEffect {
  height: 100%;
  width: 100%;
}

.landingContent {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding: 0% 2%;
  flex-wrap: wrap;
  overflow: hidden;
}

.contentHalf {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentFull {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeTitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeSubtitleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeSubText {
  font-weight: 300 !important;
}

.quickLinkContainer {
  margin-top: 2% !important;
}

.paperHeader {
  font-weight: 300 !important;
  margin-top: 3% !important;
}

.floatingImageContainer {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.floatingImage {
  max-width: 90%;
  height: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 2560px) {
  .landingContainer {
    min-height: 650px;
  }

  .floatingImageContainer {
    height: 50%;
  }
}

@media only screen and (max-width: 1440px) {
  .landingContainer {
    min-height: 550px;
  }

  .quickLinkContainer {
    margin-top: 4% !important;
  }

  .floatingImageContainer {
    height: 50%;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .landingContainer {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 1024px) {
  .floatingImageContainer {
    height: 50%;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .landingContainer {
    min-height: 100vh;
  }
}

@media only screen and (max-width: 768px) {
  .floatingImageContainer {
    height: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .welcomeTitleContainer {
    margin-top: 10%;
  }

  .landingContainer {
    min-height: 1100px;
  }

  .floatingImageContainer {
    height: 50%;
  }
}

@media only screen and (max-width: 430px) {
  .landingContainer {
    min-height: 1050px;
  }
}

@media only screen and (max-width: 325px) {
  .welcomeTitleContainer {
    margin-top: 15%;
  }

  .landingContainer {
    min-height: 1000px;
  }
}
