.landing-container {
  height: 100%;
  width: 100%;
  background-color: #010020;
  position: relative;
}

.particle-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.particle-effect {
  height: 100%;
  width: 100%;
}

.landing-content {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.content-half {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
